.card-component {
	/* padding: 20px 0; */
	max-width: 344px;
}

.card-component img {
	height: 240px;
}

.card-component > h4 {
	margin-top: 40px;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 24px;
}

.card-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 10px;
	padding-top: 20px;
	padding-bottom: 56px;
	width: 60%;
}

.card-component p {
	margin-top: 16px;
	font-size: 16px;
	line-height: 28px;
	font-weight: 500;
	color: #4e4e4e;
}

@media screen and (min-width: 901px) and (max-width: 1184px) {
	.card-component {
		width: calc(50vw - 48px);
		max-width: 544px;
	}
}

@media screen and (max-width: 1440px) {
	.card-component {
		width: unset;
	}
}

.card-link {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-top: 24px;
	color: #443df6;
	font-weight: 700;
	font-size: 16px;
	line-height: 28px;
	text-decoration: none;
}

.card-link::after {
	content: "";
	width: 24px;
	height: 24px;
	margin-left: 16px;
	background-repeat: no-repeat;
	background-image: url("src/assets/2020-arrow-right.svg");
}
