body {
	font-family: SharpSans, sans-serif;
}

.Navbar-start {
	width: 100%;
	padding: 32px;
	background-color: transparent;
}


body{
  font-family: SharpSans, sans-serif;
}

.nav-left {
	height: 42px;
	display: flex;
	align-items: center;
}

.voog-logo{
  margin: 0 32px 0 0}

.nav-left{
  display: flex;
  align-items: center;
}

.text-inner{
  display: flex;
}

.nav-right{
  display: flex;
  align-items: center;
}

.lang-text {
	font-family: SharpSans;
	font-size: 12px;
}

.nav-arrow-down {
	margin-left: 16px;
}

.text-arrow:hover {
	opacity: 50%;
	cursor: pointer;
}

.navbar-inner {
	display: flex;
	justify-content: space-between;
	justify-items: center;
}

.nav-button-cta {
	margin-left: 24px;
	font-family: SharpSans !important;
	font-size: 12px !important;
	background-color: #443df6 !important;
	padding: 11px 16px !important;
}

.nav-button-cta:hover {
	background-color: #3a34d1 !important;
}

.nav-button-lang {
	font-family: SharpSans !important;
	font-size: 12px !important;
	background-color: transparent !important;
	border: solid 2px #ccc !important;
	padding: 11px 16px !important;
	margin-left: 24px;
}

.nav-button-lang:hover {
	background-color: transparent !important;
	border: solid 2px black !important;
}
