.video-description-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 84px;
}

.video-undertext-tagline h3 {
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	margin-right: 32px;
	margin-bottom: 0;
	flex: 1 0 auto;
}

.video-undertext-description {
	max-width: 416px;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	color: #4e4e4e;
}

.video-wrapper {
	/* margin-top: 216px; */
	margin-bottom: 64px;
	padding: 0 72px;
	position: relative;
	max-width: 1136px;
}

.video-header {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.video-header-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
}

.video-header-text > button {
	max-width: 50%;
	height: 40px;
	font-size: small;
}

.video-header-text > h1 {
	font-weight: 510;
	font-size: 65px;
	line-height: 80px;
	margin-bottom: 32px;
}

.video-header > img {
	max-width: 100%;
	height: auto;
}

.btn-dark {
	background-color: #000 !important;
}
